<input type="button" (click)="addTask()" value="add Task">
<div *ngIf="addingTaskBoolean">
  <input #taskName type="text" placeholder="Task's name">
  <input #taskDesciption type="text" placeholder="Task's description">
  <input type="button" (click)=saveTask(taskName.value,taskDesciption.value) value="Save Task">
  <input type="button" (click)="cancelTask()" value="cancel"> <br>
  <div *ngIf="warnMessageBoolean">
    {{warnMessage}}
  </div>
</div><br>
<div><h3>Tasks</h3>
  <ul class="tasks">
<li *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="selectTask(task)">
<div style="display: inline"   >
  <span class="badge">{{task.id}}</span>
  {{task.name}}
  <!--{{task.description}}--></div>

    <!--<input type="button" (click)="deleteTask(task)" value="Delete">-->
</li></ul><br>
</div>
<div *ngIf="messageShowBoolean">{{messageShow}}</div>
<app-child-component *ngIf="showChildComponent" [task] = "selectedTask" (passTask) ="saveTheEditedTask($event)" (deleteThePassedTask)="deleteTask($event)" (displayMessage)="displayMessage($event)"></app-child-component>
